html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#app {
  position: relative;
  min-height: 100vh;
}

#app-header {
  position: absolute;
  top: 0;
  right: 0;
}

#dogOfTheDayImage {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40%;
  height: auto;
  border-radius: 4px;
}

#reloadCheckboxSpan {
  position: absolute;
  bottom: 100px;
  right: 100px;
  cursor: pointer;
  color: #ff1313de;
}

#reloadControl {
  cursor: pointer;
}

* {
  background-color: #ff1313;
}